<ion-header>
  <ion-toolbar>
    <ion-title>Nombre de asignatura</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button>
      <ion-icon name="qr-code-outline"></ion-icon>
    </ion-fab-button>
  </ion-fab>

  <div class="contanier">
    <p>ASE201D</p>
    <p>Promedio: 87%</p>  
  </div>

  <div class="container">

    <ion-list >

      <ion-item button>
        <ion-label>
          18/10
          <p>95%</p>
        </ion-label>
        <ion-icon name="arrow-forward-outline"></ion-icon>
      </ion-item>

      <ion-item button>
        <ion-label>
          18/10
          <p>95%</p>
        </ion-label>
        <ion-icon name="arrow-forward-outline"></ion-icon>
      </ion-item>

      <ion-item button>
        <ion-label>
          18/10
          <p>95%</p>
        </ion-label>
        <ion-icon name="arrow-forward-outline"></ion-icon>
      </ion-item>

      <ion-item button>
        <ion-label>
          18/10
          <p>95%</p>
        </ion-label>
        <ion-icon name="arrow-forward-outline"></ion-icon>
      </ion-item>

      <ion-item button>
        <ion-label>
          18/10
          <p>95%</p>
        </ion-label>
        <ion-icon name="arrow-forward-outline"></ion-icon>
      </ion-item>

      <ion-item button>
        <ion-label>
          18/10
          <p>95%</p>
        </ion-label>
        <ion-icon name="arrow-forward-outline"></ion-icon>
      </ion-item>

      <ion-item button>
        <ion-label>
          18/10
          <p>95%</p>
        </ion-label>
        <ion-icon name="arrow-forward-outline"></ion-icon>
      </ion-item>

      <ion-item button>
        <ion-label>
          18/10
          <p>95%</p>
        </ion-label>
        <ion-icon name="arrow-forward-outline"></ion-icon>
      </ion-item>

      <ion-item button>
        <ion-label>
          18/10
          <p>95%</p>
        </ion-label>
        <ion-icon name="arrow-forward-outline"></ion-icon>
      </ion-item>

    </ion-list>

  </div>

</ion-content>
