.contanier{
    margin-top: 2rem;
    margin-left: 1rem;
    margin-right: 1rem;
}

ion-slide{
    padding-bottom: 100%
}

ion-item{
    border: 3px solid gray;
    border-radius: 10px;
    margin-bottom: 1rem;
}
ion-list{
    padding: 1rem ;
}