<ion-header>
  <ion-toolbar>
    <ion-title>Nombre de asignatura</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <div class="contanier">
    <p>profesor a cargo</p>
    <p>87%</p>  
  </div>
  
  <ion-list mode="ios" [inset]="true" class="lista" >
    <ion-item style="--background: #012C56;">
      <ion-label style="color: white;">Pokémon Yellow</ion-label>
    </ion-item>
    <ion-item>
      <ion-label>Lun 18/10</ion-label>
      <ion-icon style="color: green;" name="radio-button-on-outline"></ion-icon>
    </ion-item>
    <ion-item>
      <ion-label>Lun 18/10</ion-label>
      <ion-icon style="color: red;" name="radio-button-on-outline"></ion-icon>
    </ion-item>
    <ion-item>
      <ion-label>Lun 18/10</ion-label>
    </ion-item>
    <ion-item>
      <ion-label>Lun 18/10</ion-label>
    </ion-item>
  </ion-list>
  
</ion-content>
